.map-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.full-map {
  height: 100%;
  width: 100%;
}
.map-container {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  
}
/* MapView.css */

html, body, #root, .map-container {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}


